.review__section {
    padding: 80px 0;

    @include bp(small) {
        padding: 40px 0;
    }

    .review__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;

        @include bp(small) {
            grid-area: 32px;
        }

        @include bp(medium) {
            grid-area: 40px;
        }

        .review__title {
            h3 {
                text-align: left;
                font-family: 'Lexend', sans-serif;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 48px;

                @include bp(small) {
                    font-size: 32px;
                    line-height: 36px;
                    text-align: left;
                }
            }
        }


        .review__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            row-gap: 30px;
            flex-wrap: wrap;
            width: 100%;


            @include bp(small) {
                flex-direction: column;
                gap: 30px;
                width: 100%;
            }

            .review__content {
                display: flex;
                gap: 24px;
                align-items: center;
                justify-content: space-between;

                @include bp(small) {
                    display: none;
                }
            }

        }
    }

    .review {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 8px;
        padding: 12px;
        border: 1px solid #2F2A38;

        @include bp(small) {
            // align-items: flex-start;
            justify-content: flex-start;
            width: 290px;
            gap: 10px;
        }

        img {
            width: 100%;
        }

        p {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: left;

            @include bp(small) {
                font-size: 16px;
                line-height: 18px;
            }

            &.review__author {
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }

            &.review__description {
                height: 74px;

                @include bp(small) {
                    height: 60px;
                }
            }
        }


    }

    .review__slider {
        display: none;

        @include bp(small) {
            display: block;
            margin-top: 30px;
            // height: 515px;
        }

    }

    .splide__slide {
        @include bp(small) {
            width: 80%;
        }
    }


    .splide__arrows.splide__arrows--ltr {
        display: none;
    }
}

.splide__pagination.splide__pagination--ltr {
    display: none;
}