.header-container {
    max-width: 1200px;
    margin: 0 auto;

    @include bp(small) {
        padding: 0 16px;
    }

    @include bp(tablet) {
        padding: 0 32px;
    }
}

.banner {
    background-color: $TertiaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;

    @include bp(small) {
        height: 28px;
    }

    .banner-text {
        color: $TextSecondaryColor;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;

        @include bp(small) {
            font-weight: 500;
        }
    }
}

.header {
    margin-bottom: 0px;
    background: #FFF;
    border-bottom: 1px solid #EDEDED;

    @include bp(small) {
        height: 64px;
        // margin-bottom: 10px;
    }

    @include bp(tablet) {
        // margin-bottom: 22px;
    }

    .powermindz-logo {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp(small) {
            height: 32px;
        }
    }

    .header-row {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;


        @include bp(tablet) {
            justify-content: space-between;
        }

        @include bp(small) {
            justify-content: space-between;
            height: 64px;
        }
    }

    .header-action {
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            height: 48px;

            @include bp(small) {
                height: 36px;
                font-size: 14px;
                padding: 9px 12px;
                line-height: 18px;
            }
        }
    }

}