.logo {
    // background: url('~/assets/images/logo-header.png') no-repeat center;
    width: 220px;
    height: 75px;
    background-size: contain;

    @include bp(small) {
        display: inline-block;
        width: 170px;
        height: 65px;
        // background: url('~/assets/images/logo-header.png') no-repeat center;
        background-size: contain;
    }

    &.checkout {
        width: 170px;
        height: 65px;

        @include bp(small) {
            width: 120px;
            height: 45px;
        }
    }
}

.footer-logo {
    // background: url('~/assets/images/logo-footer.png') no-repeat center;
    width: 170px;
    height: 62px;
    background-size: contain;
    display: inline-block;

    @include bp(small) {
        width: 60px;
        height: 72px;
        // background: url('~/assets/images/footer-logo.svg') no-repeat center;
    }
}